name: GitHub Metrics

on:
  push:
    paths:
      - "README.md"
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: xexubonete
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Madrid
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_threshold: 2%
